.chat-main
  .main-header
    .main-header__box
      %p.side-header__box__user-name honbantaro
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          %a{:href => "/groups/new"}
            %i.fa.fa-edit
