
* {
  box-sizing: border-box;
  text-decoration: none;
 }

.chat-main{
  width: calc(100vw - 300px);
  float: left;
  height: calc(100vh - 190px);
  background-color: #fafafa;
  box-sizing: border-box;
  font-size: 20px;
  color: #333;
  padding-bottom: 40px;

}



.main-header{
  font-size: 15px;
  color: #333;
  height: 100px;
  padding: 35px 0 0 40px;
  border-bottom: solid 1px #eee;
  

  &__left-box__current-group{
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
  margin: 0;

  }

  &__left-box__member-list{
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    margin-top:15px;

  }


  &__right-box__button{
    font-size: 12px;
    text-decoration:none;

    a{
      color: #38aef0;
    }
  }

  &__right-box {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 28px;
    border: solid 1px #38aef0;
    position: absolute;
    right: 40px;
    top: 0px;
  }

}


.messages{

  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
  width : 100%;
  height: calc(100vh - 190px);
  overflow: scroll;
  box-sizing: border-box;
 
 
}


.message{
  padding-bottom: 40px;

   
  .upper-message{
    display: flex;
  
    &__user-name{
      font-size: 16px;
      color: #999999;
    
    }


    
    &__date{
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
      
      
      // display: block;
      // margin-block-start: 1em;
      // margin-block-end: 1em;
      // margin-inline-start: 0px;
      // margin-inline-end: 0px;

    }
  }

  .lower-message{

    &__upper-info{
      display: flex;
      margin-bottom: 10px;
    }   

    &__content{
      color: #434a54;
      font-size: 14px;
      margin: 0 0 10px;
      // font-weight: bold;
      // display: block;
      // margin-block-start: 1em;
      // margin-block-end: 1em;
      // margin-inline-start: 0px;
      // margin-inline-end: 0px;
    }

      &__image {
        width: 200px;
        height: auto; 
        padding:40px 
      }
 
      &__menu{
        position: absolute;
        display: flex;
        display: none;
        top: -8px;
        right: 20px;
        line-height: 1;
        padding: 3px 7px;
        margin: 0 0 0 auto;
      } 
}

    li {
      padding: 0.5rem;
      border: solid .0625rem rgba(0,0,0,15);

      &:first-child{
        border-top-left-radius: .375em;
        border-bottom-left-radius: .375em;
      }
      &:last-child{
        border-top-right-radius: .375em;
        border-bottom-right-radius: .375em;
      }
    }
  }



.form {
  background-color: #DDDDDD;
  width: 100%;
  height: 90px;
  padding: 20px 40px;
  &__message {
    border: none;
    float: left;
    width: calc(100% - 150px);
    height: 50px;
    padding: 20px 40px;
    color: #434a54;
    border-style: none;


  }
  &__mask {
    background-color: white;
    float: left;
    height: 50px;
    padding-right: 20px;
    &__image {
      background-color: #FFFFFF;
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
  &__submit {
    background-color:#38AEF0;
    border: none;
    color: white;
    float: right;
    font-size: 16px;
    height: 50px;
    padding: 0 30px;
  }
}
