
.wrapper {
  width: 100vw;
  height: 100vh;
  display:flex;
  margin: 0;
  padding: 0;
  
}

.side-bar{
  height: calc(100vh - 400x);
  background-color: #2f3e51;
  width: 360px;
  padding:20px 20px ０;
  overflow: scroll;
  bottom:610px;
}

.header {
  background-color: #253241;                    
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color:#FFFFFF;
  display:flex;
  width: 100%;
  font-weight: bold;  
  
}

.header__lists{
  display:flex;
}

.icon{
  color:#FFFFFF;
}


.side-header__box__menu{
  color:#FFFFFF;
  
}

.header__name{
color:#fff;
display:flex;
}

.groups {
  background-color: #2f3e51;
  overflow: scroll;
  padding: 20px 20px 0;
  color: white;
  padding:46px
  
  
}

  .contennts {
  box-sizing: border-box;
  width: 300px;
  color: white;
  float: left;
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
  margin-left: auto;
  }

  .group__name {
  background-color: #2f3e51;
  overflow: scroll;
  padding: 20px 20px 0;
  color: white;
  font-size:15px;
  font-weight:bold;
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
  

  }


  .group__message{
  color: white;
  font-size:11px;
  font-weight:bold;
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
  color: white;
  }