
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.side-bar{
  width: 300px;
}

.header {
  background-color: #253241;                    
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color:#FFFFFF;
  display:flex;
  width: 100%;
  font-weight: bold;
}

.header__lists{
  display:flex;
}

.icon{
  color:#FFFFFF;
}


.side-header__box__menu{
  color:#FFFFFF;
  
}

.header__name{
color:#fff;
display:flex;
}

.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  overflow: scroll;
}

  .contennts {
  box-sizing: border-box;
  width: 300px;
  color: white;
  float: left;
  }

  .group__name {
  color: white;
  font-size:15px;
  font-weight:bold;

  }


  .group__message{
  color: white;
  font-size:11px;
  font-weight:bold;
  }